.dropdown-item {
    padding: 0.5rem 1rem;
    font-size: 12px;
    border-top: 1px solid #dedede;
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #000;
    background-color: #f0f0f0;
  }
  
  .dropdown-menu {
    right: 0;
    left: unset;
    border-top: none;
  }
  