<main>
  <section class="container-fluid">
    <nav class="row navbar navbar-expand-lg navbar-light bg-color">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <ul class="navbar-nav ">
            <li class="nav-item active app-description p-3 text-white">
              <i class="fa fa-book text-white fnt-lg" aria-hidden="true"></i>
              <span class="ml-3 fnt-md">Bookstore</span>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" aria-label="search" aria-describedby="basic-addon1">
            </div>
          </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">
          <ul class="navbar-nav ">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o text-white fnt-lg" aria-hidden="true">
                </i>
              </a>
              <div class="dropdown-menu p-0" aria-labelledby="navDropDownLink">
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</main>


<app-footer></app-footer>