<section class="container">
    <div class="row py-3">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 align-self-center">
            <h6 class="mb-0"> Book List </h6>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <summary>
                <i class="fa fa-plus-circle float-right fnt-xlg color" (click)="addBook()" aria-hidden="true"></i>
            </summary>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-3 mt-3 px-0 pr-2" *ngFor="let book of bookList">
            <div class="card shadow-lg rounded ">
                <img class="card-img-top" src="{{book.cover}}" alt="cover-image">
                <div class="card-body">
                    <h6 class="card-title">{{book.title}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.price}}</h6>
                    <p class="card-text">{{book.description}}</p>
                    <summary>
                        <p class="float-right fnt-md" (click)="deleteBook(book.id)"><i class="fa fa-trash-o"
                                aria-hidden="true"></i></p>
                    </summary>
                </div>
            </div>
        </div>
    </div>
</section>