/* You can add global styles to this file, and also import other style files */
.app-description{
    background-color: #3FCABB;
    text-align: center;
}
.bg-color {
    background-color: #3FCABB;
}
.fnt-xs { font-size: 12px;}
.fnt-sm { font-size: 12px;}
.fnt-md { font-size: 16px;}
.fnt-lg { font-size: 20px;}
.no-outline {
  outline: none !important;
}
.no-border {
  border:none;
}
.no-shadow {
  box-shadow: none !important;
}

.required-star {
  color: #ff0000;
  font-size: 12px;
}
.navbar {
  padding: .1rem 1rem;
}
body {
  font-family: "Noto Sans", Arial, Helvetica;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 0.75rem;
  color: #000;
  background-color: #ececec;
  overflow-y: scroll;
}
